# Auth.js
AUTH_SECRET=ta_cle_longue_aleatoire
AUTH_URL=http://localhost:3000

# APi
INTERNAL_API_URL=http://backend:8000/api
NEXT_PUBLIC_API_URL=http://localhost:8000/api


NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id

# Adresse publique du site (aperçus de lien WhatsApp / Facebook, liens absolus)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
