# =========================
# PostgreSQL
# =========================
POSTGRES_DB=afristayDB
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# =========================
# pgAdmin
# =========================
PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_password

# =========================
# Django
# =========================
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
