# =========================
# PostgreSQL
# =========================
POSTGRES_DB=afristayDB
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# =========================
# pgAdmin
# =========================
PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_password

# =========================
# Django
# =========================
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0


# =========================
# Email (A ajouter au .env)
# =========================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=your_email@gmail.com
SERVER_EMAIL=your_email@gmail.com
EMAIL_TIMEOUT=20

