# =========================
# Django
# =========================
DJANGO_SECRET_KEY=your-django-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend

# =========================
# PostgreSQL
# =========================
POSTGRES_DB=afristay
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

# =========================
# pgAdmin
# =========================
PGADMIN_DEFAULT_EMAIL=your_email@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

# =========================
# RabbitMQ
# =========================
RABBITMQ_DEFAULT_USER=your_rabbitmq_user
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password

# =========================
# Email
# =========================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=your_email@gmail.com
SERVER_EMAIL=your_email@gmail.com
EMAIL_TIMEOUT=20
